@model Workout

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="row">
        @* DisplayNameFor is een html helper, zie: https://github.com/dotnet/aspnetcore/issues/3956*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Workouts">Back to List</a>
</div>